{# categories/category.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

    <!-- Home -->
    <div class="home home-notmain">
        <div class="home_container">
            <div class="home_background" style="background-image:url('/images/{{ category.image }}')"></div>
            <div class="home_content_container">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <div class="home_content">
                                <div class="home_title">{{ category.name }}<span>.</span></div>
                                <div class="home_text"><p>Отличные гаджеты для вас и вашей семьи!</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Products -->

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col">

                <!-- Product Sorting -->
                <div class="sorting_bar d-flex flex-md-row flex-column align-items-md-center justify-content-md-start">
                    <div class="results">Showing <span>12</span> results</div>
                    <div class="sorting_container ml-md-auto">
                        <div class="sorting">
                            <ul class="item_sorting">
                                <li>
                                    <span class="sorting_text">Sort by</span>
                                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                                    <ul>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'>
                                            <span>Default</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "price" }'>
                                            <span>Price</span></li>
                                        <li class="product_sorting_btn" data-isotope-option='{ "sortBy": "title" }'>
                                            <span>Name</span></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <div class="product_grid">

                    <!-- Product -->
                    {% for good in goods %}
                        <div class="product">
                            <div class="product_image"><img src="/images/{{ good.img }}" alt="{{ good.name }}"></div>
                            <div class="product_extra product_new"><a href="categories.html">New</a></div>
                            <div class="product_content">
                                <div class="product_title"><a href="{{ path('product_id', {id: good.id}) }}">{{ good.name }}</a></div>
                                <div class="product_price">{{ good.price }}</div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Icon Boxes -->

<div class="icon_boxes">
    <div class="container">
        <div class="row icon_box_row">

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="{{ asset('images/icon_1.svg') }}" alt=""></div>
                    <div class="icon_box_title">Бесплатная доставка по всему миру</div>
                    <div class="icon_box_text">
                        <p>При заказе от 10 000 рублей мы бесплатно доставим вам товар.</p>
                    </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="{{ asset('images/icon_2.svg') }}" alt=""></div>
                    <div class="icon_box_title">Возврат за наш счёт</div>
                    <div class="icon_box_text">
                        <p>Если вам не понравился товар - сообщите нам и наш курьер бесплатно у вас его заберёт</p>
                    </div>
                </div>
            </div>

            <!-- Icon Box -->
            <div class="col-lg-4 icon_box_col">
                <div class="icon_box">
                    <div class="icon_box_image"><img src="{{ asset('images/icon_3.svg') }}" alt=""></div>
                    <div class="icon_box_title">Поддержка 24/7/365</div>
                    <div class="icon_box_text">
                        <p>По всем вопросам мы готовы ответить вам круглосуточно. Звоните!</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="newsletter_border"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="newsletter_content text-center">
                    <div class="newsletter_title">Подпишитесь на наши новости</div>
                    <div class="newsletter_text"><p>Вы будете в курсе всех новинок и новостей нашего магазина</p></div>
                    <div class="newsletter_form_container">
                        <form action="#" id="newsletter_form" class="newsletter_form">
                            <input type="email" class="newsletter_input" required="required">
                            <button class="newsletter_button trans_200"><span>Подписаться</span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
